.cube-container {
    position: relative;
    display: inline-block;
}
#cc1.cube-container {
    width: 400px;
    height: 400px;
    margin-top: 10%;
    margin-left: 10%;
    perspective: 200px;
}

.cube-struct {
    transform-style: preserve-3d;
    position: relative;
    height: 50%;
    width: 50%;
    display: inline-block;
    top: 25%;
    left: 25%;
}

.cube-struct .face {
    transform-style: preserve-3d;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}
